.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    background-color: crimson;
    padding: 5px;
    border: 2px dashed black;
    min-height: 100px;
    
}
.links {
    font-size: larger;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 90%;
}